$light-color: #ffffff;
$dark-color: #000000;
$purple-color: #d4acde;
$pink-color: #f09db3;
$orange-color: #f5bf7d;
$gray-color: #808080;
$button-orange-color: #f5aa4e;
$service-button-orange-color: rgba(245, 170, 78, 0.3);
$service-button-color:rgba(255, 255, 255, 0.3);
@font-face {
font-family: ProximaNova;
src: url("/app/fonts/Proxima_Nova_Regular.otf") format("opentype");
}
body{
  font-family: ProximaNova;
}
input,select{
  padding-left: 15px;
}
.text-gray{
  color: $gray-color;
}
.text-dark{
  color: $dark-color;
}
.row-margin-top{
  margin-top: 25px;
}
.row-big-margin-top{
  margin-top: 60px;
}
.text-light{
  color: $light-color;
}
.app-medium-text-2{
  font-size:19px;
}
.app-medium-text{
  font-size:21px;
}
.app-medium-small-text{
  font-size:15px;
}
.app-big-smal-text{
  font-size:35px;
}
.app-big-text{
  font-size:42px;
}
.bold-text{
  font-weight: bold;
}
.my-nav{
  li{
    a{
      color: white;
      font-size: 24px;
      font-weight: 300;
      line-height: 24px;
      padding-top: 117px;
      padding-bottom: 59px;
      color: $dark-color;
    }
    a:hover, a:focus, a.active{
      background: $pink-color;
      color:$light-color;
    }
  }
}
.logo{
  position: relative;
  height: 196px;
  width: 100%;
  img{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.slider{
  background-image: url('/app/img/app/background-slider .png');
  background-repeat: no-repeat;
  background-position: center;
  height: 369px;
  border-top:1px solid $purple-color;
}
.beauty-text{
  @extend .text-light;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.45);
  font-size: 36px;
  font-weight: 400;
  font-size:28px;
}
.slider-content{
  position: relative;
  .slider-text{
    position: absolute;
    top: 150px;
    left: 150px;
  }
  .arrow{
    position: absolute;
    font-size:70px;
    top:140px;

  }
  .arrow.left{
    left:0;
  }
  .arrow.right{
    right: 0;
  }
}
.container-block-plus{
  margin-top:35px;
  margin-bottom: 25px;
  li.block-plus{
    list-style-type: none;
    div{
      span{
        color: #474747;
        font-weight: 700; 
        font-size: 24px;
        span{
          font-size: 48px;
        }
      }
    }
  }
  li.block-plus:nth-child(3n + 2){
    border-right: 1px solid $dark-color;
    border-left: 1px solid $dark-color;
  }
}
.about-text{
  display: inline-block;
  margin-top: 36px;
  color: #474747;
  font-size: 24px;
  font-weight: 300;
}
.global-block-plus{
  @extend .text-light;
  padding: 30px;
  height: 492px;
  background: $pink-color;
  span{
    @extend .app-big-smal-text;
    @extend .bold-text;
    display: inline-block;
    margin-bottom: 25px;
  }
  ul{
    @extend .app-medium-small-text;
    li{
      list-style-type: square;
      margin:15px 0;
    }
  }
}
.img_1{
  height: 492px;
  background-image: url('/app/img/app/img_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}
.about-preview-img{
  border:9px solid $light-color;
  box-shadow: 0 0 10px 1px $dark-color;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}
.beauty-title{
  color: #474747;
  font-family: Klementina;
  font-size: 72px;

}
.beauty-title-hr{
  margin-top: 55px;
}
.services-block{
  border:1px solid $orange-color;
  height: 240px;
  margin-bottom: 20px;
  position: relative;
  .services-img{
    opacity: 0.5;
    z-index: -1;
    height:100%;
    background-repeat: no-repeat;
    background-position:left top;
    background-size: cover;
  }
  .services-text{
    display: inline-block;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .services-button-group{
    position: absolute;
    bottom: 40px;
    text-align: center;
    left: 0;
    right: 0;
  }
}
.my-btn{
  background: white;
  border: 1px solid $dark-color;
  padding: 10px 30px;
  margin: 0px 5px;
}
.my-btn.service-btn{
  background: $service-button-color;
}
.my-btn.service-btn:hover, .my-btn.service-btn:focus{
  background: $light-color;
  border-color: $light-color;
}
.my-btn.service-btn.orange-btn{
  background: $service-button-orange-color;
}
.my-btn.service-btn.orange-btn:hover, .my-btn.service-btn.orange-btn:focus{
  background: $button-orange-color;
}
.my-btn.orange-btn{
  background: $service-button-orange-color;
}
.my-btn.orange-btn:focus, .my-btn.orange-btn:hover{
  border-color: $button-orange-color;
  color: $light-color;
}
.abonement-blocks{
  margin-top:50px;
  .abonement-block{
    margin-bottom: 20px;
    height: 355px;
    background: red;
    padding: 15px;
    color: $light-color;
    position: relative;
    .abonement-title-text{
      font-size: 23px;
      padding-bottom: 15px;
      border-bottom: solid 1px $light-color;
      .abonement-title-bold-text{
        font-weight: bold;
        display: block;
      }
    };
    .abonement-price-text{
      font-size: 27px;
      display: block;
      margin-top:25px;
      .abonement-price{
        font-style: italic;
      }
    }
    .abonement-info{
      font-size: 13px;
      margin-top: 25px;
      display: block;
    }
    .abonement-btn{
      border:1px solid $light-color;
      background: rgba(255,255,255,0);
      color: $light-color;
      text-transform: uppercase;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: auto;
      width: 50%;
    }
    .abonement-btn:hover, .abonement-btn:focus{
      background: $light-color;
    }
    ul.abonement-info{
      padding-left: 15px;
    }
  }
  .abonement-block.blue-abonement-block{
    background: #4892bd;
    .abonement-btn:hover, .abonement-btn:focus{
      color: #4892bd;
    }
  }
  .abonement-block.pink-abonement-block{
    background: #c9325b;
    .abonement-btn:hover, .abonement-btn:focus{
      color: #c9325b;
    }
  }
  .abonement-block.green-abonement-block{
    background: #b2cf65;
    .abonement-btn:hover, .abonement-btn:focus{
      color: #b2cf65;
    }
  }
}
.advices-block{
  .advices-title{
    text-align: center;
    text-transform: uppercase;
    color:#f0a5b7;
    font-size: 18px;
    display: block;
    width: 100%;
    margin: 50px 0;
  }
  .advices-info{
    font-size: 12px;
    color: #5c5c5c;
  }
  .advices-img{
    height: 300px;
    background-image: url('/app/img/app/rosi.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .advice{
    font-size: 12px;
    color: #5c5c5c;
    margin-bottom: 50px;
    .advice-img{
      height: 115px;
      width: 115px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 60px;
    }
    .advice-img.advice-img-1{
      background-image: url('/app/img/app/advice_1.jpg');
    }
    .advice-img.advice-img-2{
      background-image: url('/app/img/app/advice_2.jpg');
    }
    .advise-text{
      ul{
        padding: 0px;
        li{
          list-style-type: none;
        }
        li:before{
          content: "- "
        }
      }
    }
  }
}
.comments{
  .comment{
    border:1px solid #dedede;
    border-left: 5px solid #c9325b;
    border-right: 5px solid #c9325b;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 15px 0px 30px 0px;
  }
  .comment-author{
    position: relative;
    height: 150px;
    width: 100%;
    color: #5e5e5e;
    text-align: center;
    .author-info{
      position: absolute;
      right: 0;
      top:90px;
      .comment-author-name{
        font-size: 18px;
        text-transform: uppercase;
      }
      .comment-author-age{
        font-size:10px;
        text-transform: lowercase;
      }
    }
    .comment-img{
      position: absolute;
      right: 10px;
      top:0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 70px;
      height: 70px;
      border-radius: 40px;
    }
    .comment-img.comment-girl-1{
      background-image: url('/app/img/app/girl_1.jpg');
    }
    .comment-img.comment-girl-2{
      background-image: url('/app/img/app/girl_2.jpg');
    }
    .comment-img.comment-girl-3{
      background-image: url('/app/img/app/girl_3.jpg');
    }
  }
  .comment-quotes{
    color: $pink-color;
    display: inline-block;
    font-size: 100px;
    width: 40px;
    height: 20px;
    margin-top: -20px;
  }
  .comment-text{
    display: inline-block;
    width: 90%;
  }
}
.pink-hr{
  color: #f0a5b7;
}
.recording-title{
  text-align: center;
  text-transform: uppercase;
  color:#f0a5b7;
  font-size: 25px;
  display: block;
  width: 100%;
  margin: 0px 0 50px 0;
}
.recording-input{
  width: 100%;
  border-radius: 0px;
  margin-bottom: 10px;
  border: 1px solid rgb(207, 207, 207);
  height: 35px;
}
.recording-btn{
  margin-bottom: 10px;
  width: 100%;
  background: #f0a5b7;
  border-color: #f0a5b7;
  color: $light-color;
  font-size: 10px;
  height: 34px;
}
.recording-btn:hover, .recording-btn:focus{
  background: $light-color;
  color: $dark-color;
  border-color: $dark-color;
}
.my-footer{
  background: #d8e8b3;
  margin-top: 30px;
  padding: 25px 0;
  .footer-logo{
    width: 100%
  }
  .foother-phone-number{
    font-size: 20px;
    margin-bottom: 25px;
    display: inline-block;
  }
  .foother-adress{
    font-size: 11px
  }
  .foother-btn{
    background: #f2a74b;
    color: $light-color;
    border-color: #f2a74b;
  }
  .socials{
    .social{
      display: inline-block;
      font-size: 30px;
      margin-left: 10px;
      margin-top: 30px;
    }
  }
}
.my-modal{
  .modal-content{
    border-radius: 0px;
    border-color: #f2a74b;
    margin: auto;
    //width: 280px;
    .modal-header{
      color: #f2a74b;
      border:0px;
      .abonement-modal-title{
        text-transform: uppercase;
        margin: 0 30px;
        border-bottom: 1px solid;
        font-size: 25px;
      }
      button{
        color: #f2a74b;
        opacity: 1;
        font-size: 30px;
      }
    }
    .modal-body{
      .abonement-modal-small-text{
        font-size:12px;
      }
      .about-procedure-text{
        color: #818181;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin: 0px 30px;
        span{
          display: inline-block;
          margin-bottom: 25px;
        }
      }
      .about-procedure-price{
        margin: 0px 30px;
        margin-top: 20px;
        span{
          color: #f5aa4d;
          font-size: 24px;
          line-height: 24px;
          .abonement-price{
            font-size: 24px;
          }
        }
      }
      .procedure-small-select{
        width: 30%;
        float: right;
        margin: 0px 0 0 10px;
        display: inline-block;
      }
      .abonement-modal-gray-text{
        color: #a1a1a1;
      }
      .my-modal-form{
        margin:0 80px;
      }
      .my-modal-input{
        border-radius: 0;
        border-color: #a1a1a1;
      }
      .my-modal-input.gray-input{
        background: #e8e8e8;
      }
      .my-modal-label{
        color:#a1a1a1;
      }
    }
    .modal-footer{
      border:0px;
      height: 70px;
      .modal-btn{
        text-transform: uppercase;
        position: absolute;
        color: $light-color;
        border-color: #f2a74b;
        background: #f2a74b;
        margin: auto;
        width: 150px;
        height: 40px;
        left: 0;
        right: 0;
      }
    }
  }
}