<div class="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 div.col-xs-12">
                <div class="slider-content">
                    <div class="arrow left"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="slider-text">
                        <div class="beauty-text">
                            Мы создаем красоту и успех!
                        </div>
                        <div class="beauty-text">
                            Ваша красота - наша работа!
                        </div>
                    </div>
                    <div class="arrow right"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <div>
                <span class="app-medium-text about-text">Beauty & Spa - это место, где Вы сможете заново открыть и принять Вашу внутреннюю и внешнюю красоту.</span>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1 div.col-xs-12 container-block-plus">
            <ul class="row">
                <li class="col-xs-4 block-plus">
                    <div>
                        <span>за <span>18 лет</span> стала абсолютно узнаваемым брендом</span>
                    </div>
                </li>
                <li class="col-xs-4 block-plus">
                    <div>
                        <span>Более <span>1000</span> человек посещают наш салон каждый месяц</span>
                    </div>
                </li>
                <li class="col-xs-4 block-plus">
                    <div>
                        <span>Более <span>2000</span> услуг оказанных нашими мастерами</span>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-6 global-block-plus">
                    <div>
                        <span>Наши преимущества:</span>
                        <ul>
                            <li>Полный спектр эстетических (услуги салона красоты) и СПА-услуг</li>
                            <li>Только высококачественная профессиональная косметика</li>
                            <li>Высококвалифицированные специалисты, которые постоянно повышают свой профессиональный уровень</li>
                            <li>Возможность разработки индивидуальных программ для лечения кожи лица, тела и волос</li>
                            <li>Удобное территориальное расположение студии в ТЦ "Ярослава" и центре "Восточный экспресс"</li>
                            <li>Наличие Интернет Магазина, позволяющего оперативно приобретать и дарить наслаждение СПА</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 img_1"></div>
            </div>
        </div>
    </div>
    <div class="row row-margin-top">
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="about-preview-img" style="background-image: url('/app/img/app/smal_4.jpg');"></div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="about-preview-img" style="background-image: url('/app/img/app/smal_3.jpg');"></div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="about-preview-img" style="background-image: url('/app/img/app/smal_2.jpg');"></div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="about-preview-img" style="background-image: url('/app/img/app/smal_1.jpg');"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-big-margin-top">
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <div class="row">
                <div class="col-md-4 hidden-xs hidden-sm">
                    <hr class="beauty-title-hr">
                </div>
                <div class="col-md-4 col-xs-12 text-center beauty-title">Услуги</div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <hr class="beauty-title-hr">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <div class="col-md-6 col-xs-12">
                <div class="services-block">
                    <div class="services-img" style="background-image: url('/app/img/app/service1.jpg')"></div>
                    <span class="services-text">Массаж</span>
                    <div class="services-button-group">
                        <button class="my-btn orange-btn service-btn" ng-click="vm.openModal('about_procedure_modal')">Подробнее</button>
                        <button class="my-btn service-btn" ng-click="vm.openProcedureModal('1')">Записаться</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="services-block">
                    <div class="services-img" style="background-image: url('/app/img/app/service3.jpg')"></div>
                    <span class="services-text">Косметология</span>
                    <div class="services-button-group">
                        <button class="my-btn orange-btn service-btn">Подробнее</button>
                        <button class="my-btn service-btn" ng-click="vm.openProcedureModal('2')">Записаться</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="services-block">
                    <div class="services-img" style="background-image: url('/app/img/app/service2.jpg')"></div>
                    <span class="services-text">Маникюр и педикюр</span>
                    <div class="services-button-group">
                        <button class="my-btn orange-btn service-btn">Подробнее</button>
                        <button class="my-btn service-btn" ng-click="vm.openProcedureModal('3')">Записаться</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="services-block">
                    <div class="services-img" style="background-image: url('/app/img/app/service4.jpg')"></div>
                    <span class="services-text">Парикмахерская</span>
                    <div class="services-button-group">
                        <button class="my-btn orange-btn service-btn">Подробнее</button>
                        <button class="my-btn service-btn" ng-click="vm.openProcedureModal('4')">Записаться</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <div>
                <p class="text-gray app-medium-text-2 text-center">
                    Сеть салонов красоты предлагает уникальную систему Абонементов. Специально
                    разработынные комплексы дают возможность побаловать себя процедурами по очень привлекательной
                    цене!(экономия до 70%)
                </p>
                <p class="text-gray app-medium-text-2 text-center">
                    Время действия Абонемента 6 месяцев с даты приобретения. Посещать салоно по абонементу может
                    любой человек, имеющий при себе Абонемент
                    <span class="text-dark">Только лучшие услуги - по лучшим ценам!</span>
                </p>
            </div>
        </div>
    </div>
    <div class="row abonement-blocks">
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="abonement-block pink-abonement-block">
                        <div class="abonement-title-text">
                            <span>Абонементы по <span class="abonement-title-bold-text">уходу за лицом</span></span>
                        </div>
                        <div>
                            <span class="abonement-price-text">от 14 000 <span class="abonement-price">&#8381;</span></span>
                            <span class="abonement-info">
                                Обновление эпидермиса,
                                разглаживание неглубоких морщин,
                                улучшение тургора кожи,
                                сглаживание неровностей,
                                подходит для кожи любого типа,
                                любого возраста.
                            </span>
                        </div>
                        <div>
                            <button class="my-btn abonement-btn" ng-click="vm.opentAbonementModal('1')">купить</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="abonement-block blue-abonement-block">
                        <div class="abonement-title-text">
                            <span>Абонементы <span class="abonement-title-bold-text">по уходу за Телом</span></span>
                        </div>
                        <div>
                            <span class="abonement-price-text">от 11 000 <span class="abonement-price">&#8381;</span></span>
                            <span class="abonement-info">
                                Курс процедур аппаратной косметологии,
                                направлен на эффективную борьбу с локальными жировыми отложениями, целюлитом.
                            </span>
                        </div>
                        <div>
                            <button class="my-btn abonement-btn" ng-click="vm.opentAbonementModal('2')">купить</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="abonement-block green-abonement-block">
                        <div class="abonement-title-text">
                            <span><span class="abonement-title-bold-text">Комплекстные</span> абонементы</span>
                        </div>
                        <div>
                            <span class="abonement-price-text">от 1 400 <span class="abonement-price">&#8381;</span></span>
                            <ul class="abonement-info">
                                <li>Стрижка</li>
                                <li>Укладка</li>
                                <li>Маникюр</li>
                            </ul>
                            </span>
                        </div>
                        <div>
                            <button class="my-btn abonement-btn" ng-click="vm.opentAbonementModal('3')">купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row advices-block">
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <span class="advices-title">Полезные советы для красоты и здоровья</span>
        </div>
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <span class=advices-info>
                Чай из лепестков роз является хорошим атнтисептиком, обладает противовирусными и антибактериальными
                свойствами.Чай с розой пьют при простуде, как отхаркивающее средство. Также он обладает свойством
                поднимать настроение, выводит из состояния депрессии. Настой из лепестков розы успакаивает
                слизистую желужка и кишечника, полезен при заболеваниях ЖКТ.
            </span>
        </div>
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <div class="row">
                <div class="col-md-6 col-xs-12 advices-img"></div>
                <div class="col-md-6 col-xs-12">
                    <div class="row advice">
                        <div class="col-xs-4">
                            <div class="advice-img advice-img-1"></div>
                        </div>
                        <div class="col-xs-8 advise-text">
                            <p>Подтягивающая маска для лица обычно обещает следующие эффекты:</p>
                            <ul>
                                <li>Улучшает цвет лица;</li>
                                <li>Подтягивает обвистшую кожу;</li>
                                <li>Делает ее гладкой, свежей, упругой, эластичной;</li>
                                <li>Тонизирует;</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row advice">
                        <div class="col-xs-4">
                            <div class="advice-img advice-img-2"></div>
                        </div>
                        <div class="col-xs-8 advise-text">
                            <p>
                                Ромашка способствует нормализации сахара в крови, а еще - способствует снижению нервного напряжения организма.
                                Также она нормализует работу желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <div class="row">
                <div class="col-md-4 hidden-xs hidden-sm">
                    <hr class="beauty-title-hr">
                </div>
                <div class="col-md-4 col-xs-12 text-center beauty-title">Отзывы</div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <hr class="beauty-title-hr">
                </div>
            </div>
        </div>
    </div>
    <div class="row comments">
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <div class="row">
                <div class="col-xs-3">
                    <div class="comment-author">
                        <div class="comment-img comment-girl-1"></div>
                        <div class="author-info">
                            <div class="comment-author-name">
                                <span>Татьяна</span>
                            </div>
                            <div class="comment-author-age">
                                <span>22 года</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="comment">
                        <span class="comment-quotes">&#8220;</span>
                        <span class="comment-text">
                            Это настоящая профессиональная клиника клиника косметологии в Тольятти, очень
                            большой перечень услуг и еще больше дорогой аппаратуры! Была на курсе омолажении лица -
                            все знакомые в шоке!
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="comment-author">
                        <div class="comment-img comment-girl-2"></div>
                        <div class="author-info">
                            <div class="comment-author-name">
                                <span>Наталья</span>
                            </div>
                            <div class="comment-author-age">
                                <span>35 лет</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="comment">
                        <span class="comment-quotes">&#8220;</span>
                        <span class="comment-text">
                            Отличный салон - отлчное сочетание цены и качества. Могу сказать, что я очень довольна
                            качественным обслуживаением и общей душевной, добродушной обстановкой, здесь очень хорошая
                            аура.
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="comment-author">
                        <div class="comment-img comment-girl-3"></div>
                        <div class="author-info">
                            <div class="comment-author-name">
                                <span>Екатерина</span>
                            </div>
                            <div class="comment-author-age">
                                <span>37 лет</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="comment">
                        <span class="comment-quotes">&#8220;</span>
                        <span class="comment-text">
                            Салон прекрасный, мастера отличные, я безмерно благодарна салону за их профессионализм
                            и вежливость. Найти своего мастера очень сложно. А тут в одном салоне целый букет прекрасных
                            мастеров, которыми я очень довольна!
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <hr class="pink-hr">
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <span class="recording-title">Запишитесь на пробную консультацию прямо сейчас!</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 div.col-xs-12">
            <div class="row">
                <div class="col-md-4 col-xs-12">    
                    <input class="recording-input" type="text" placeholder="Как к вам обращаться?">
                </div>
                <div class="col-md-4 col-xs-12">    
                    <input class="recording-input" type="text" ng-model="vm.phone" placeholder="+7 (__)-___-__-__" mask="+7 (999)-999-99-99">
                </div>
                <div class="col-md-4 col-xs-12">    
                    <button class="my-btn recording-btn"> Записаться на консультацию</button>
                </div>
            </div>
        </div>
    </div>
</div>
<abonement-modal type="vm.typeModal"></abonement-modal>
<procedure-modal type="vm.typeProcedureModal"></procedure-modal>
<about-procedure-modal type="vm.typeProcedureModal"></about-procedure-modal>