<div class="container-fluid">
    <div class="myapp-header">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div class="logo">
                    <img src="/app/img/app/logo.png" alt="logo">
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-xs-12">
                <ul class="nav navbar-nav my-nav">
                    <li><a ui-sref-active="active" ui-sref="app.about">о салоне</a></li>
                    <li><a href="">услуги</a></li>
                    <li><a href="">цены</a></li>
                    <li><a href="">отзывы</a></li>
                    <li><a href="">контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>
<div class="my-footer">
    <div class="container">
        <div class="col-md-4 col-xs-12">
            <img class="footer-logo" src="/app/img/app/logo.png" alt="logo">
        </div>
        <div class="col-md-4 col-xs-12">
            <div>
                <span class="foother-phone-number">+7(000) 000-00-00</span>
                <div class="foother-adress">
                    <div>
                        <span>м. Савеловская, Бумажный проезд,19</span>
                    </div>
                    <div>
                        <span>м. Марьина Роща, 1-ая Ямаская, 8</span>
                    </div>
                    <div>
                        <span>м. Шаболовская, ул. Донаская, 24</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div>
                <div>
                    <button class="my-btn foother-btn" ng-click="vm.openModal('callback_modal')">Заказать звонок</button>
                </div>
                <div class="socials">
                    <div class="social">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </div>
                    <div class="social">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                    <div class="social">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<callback-modal></callback-modal>