@font-face {
  font-family: ProximaNova;
  src: url("/app/fonts/Proxima_Nova_Regular.otf") format("opentype"); }

body {
  font-family: ProximaNova; }

input, select {
  padding-left: 15px; }

.text-gray {
  color: #808080; }

.text-dark {
  color: #000000; }

.row-margin-top {
  margin-top: 25px; }

.row-big-margin-top {
  margin-top: 60px; }

.text-light, .beauty-text, .global-block-plus {
  color: #ffffff; }

.app-medium-text-2 {
  font-size: 19px; }

.app-medium-text {
  font-size: 21px; }

.app-medium-small-text, .global-block-plus ul {
  font-size: 15px; }

.app-big-smal-text, .global-block-plus span {
  font-size: 35px; }

.app-big-text {
  font-size: 42px; }

.bold-text, .global-block-plus span {
  font-weight: bold; }

.my-nav li a {
  color: white;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 117px;
  padding-bottom: 59px;
  color: #000000; }

.my-nav li a:hover, .my-nav li a:focus, .my-nav li a.active {
  background: #f09db3;
  color: #ffffff; }

.logo {
  position: relative;
  height: 196px;
  width: 100%; }
  .logo img {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto; }

.slider {
  background-image: url("/app/img/app/background-slider .png");
  background-repeat: no-repeat;
  background-position: center;
  height: 369px;
  border-top: 1px solid #d4acde; }

.beauty-text {
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.45);
  font-size: 36px;
  font-weight: 400;
  font-size: 28px; }

.slider-content {
  position: relative; }
  .slider-content .slider-text {
    position: absolute;
    top: 150px;
    left: 150px; }
  .slider-content .arrow {
    position: absolute;
    font-size: 70px;
    top: 140px; }
  .slider-content .arrow.left {
    left: 0; }
  .slider-content .arrow.right {
    right: 0; }

.container-block-plus {
  margin-top: 35px;
  margin-bottom: 25px; }
  .container-block-plus li.block-plus {
    list-style-type: none; }
    .container-block-plus li.block-plus div span {
      color: #474747;
      font-weight: 700;
      font-size: 24px; }
      .container-block-plus li.block-plus div span span {
        font-size: 48px; }
  .container-block-plus li.block-plus:nth-child(3n + 2) {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000; }

.about-text {
  display: inline-block;
  margin-top: 36px;
  color: #474747;
  font-size: 24px;
  font-weight: 300; }

.global-block-plus {
  padding: 30px;
  height: 492px;
  background: #f09db3; }
  .global-block-plus span {
    display: inline-block;
    margin-bottom: 25px; }
  .global-block-plus ul li {
    list-style-type: square;
    margin: 15px 0; }

.img_1 {
  height: 492px;
  background-image: url("/app/img/app/img_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.about-preview-img {
  border: 9px solid #ffffff;
  box-shadow: 0 0 10px 1px #000000;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px; }

.beauty-title {
  color: #474747;
  font-family: Klementina;
  font-size: 72px; }

.beauty-title-hr {
  margin-top: 55px; }

.services-block {
  border: 1px solid #f5bf7d;
  height: 240px;
  margin-bottom: 20px;
  position: relative; }
  .services-block .services-img {
    opacity: 0.5;
    z-index: -1;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover; }
  .services-block .services-text {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto; }
  .services-block .services-button-group {
    position: absolute;
    bottom: 40px;
    text-align: center;
    left: 0;
    right: 0; }

.my-btn {
  background: white;
  border: 1px solid #000000;
  padding: 10px 30px;
  margin: 0px 5px; }

.my-btn.service-btn {
  background: rgba(255, 255, 255, 0.3); }

.my-btn.service-btn:hover, .my-btn.service-btn:focus {
  background: #ffffff;
  border-color: #ffffff; }

.my-btn.service-btn.orange-btn {
  background: rgba(245, 170, 78, 0.3); }

.my-btn.service-btn.orange-btn:hover, .my-btn.service-btn.orange-btn:focus {
  background: #f5aa4e; }

.my-btn.orange-btn {
  background: rgba(245, 170, 78, 0.3); }

.my-btn.orange-btn:focus, .my-btn.orange-btn:hover {
  border-color: #f5aa4e;
  color: #ffffff; }

.abonement-blocks {
  margin-top: 50px; }
  .abonement-blocks .abonement-block {
    margin-bottom: 20px;
    height: 355px;
    background: red;
    padding: 15px;
    color: #ffffff;
    position: relative; }
    .abonement-blocks .abonement-block .abonement-title-text {
      font-size: 23px;
      padding-bottom: 15px;
      border-bottom: solid 1px #ffffff; }
      .abonement-blocks .abonement-block .abonement-title-text .abonement-title-bold-text {
        font-weight: bold;
        display: block; }
    .abonement-blocks .abonement-block .abonement-price-text {
      font-size: 27px;
      display: block;
      margin-top: 25px; }
      .abonement-blocks .abonement-block .abonement-price-text .abonement-price {
        font-style: italic; }
    .abonement-blocks .abonement-block .abonement-info {
      font-size: 13px;
      margin-top: 25px;
      display: block; }
    .abonement-blocks .abonement-block .abonement-btn {
      border: 1px solid #ffffff;
      background: rgba(255, 255, 255, 0);
      color: #ffffff;
      text-transform: uppercase;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: auto;
      width: 50%; }
    .abonement-blocks .abonement-block .abonement-btn:hover, .abonement-blocks .abonement-block .abonement-btn:focus {
      background: #ffffff; }
    .abonement-blocks .abonement-block ul.abonement-info {
      padding-left: 15px; }
  .abonement-blocks .abonement-block.blue-abonement-block {
    background: #4892bd; }
    .abonement-blocks .abonement-block.blue-abonement-block .abonement-btn:hover, .abonement-blocks .abonement-block.blue-abonement-block .abonement-btn:focus {
      color: #4892bd; }
  .abonement-blocks .abonement-block.pink-abonement-block {
    background: #c9325b; }
    .abonement-blocks .abonement-block.pink-abonement-block .abonement-btn:hover, .abonement-blocks .abonement-block.pink-abonement-block .abonement-btn:focus {
      color: #c9325b; }
  .abonement-blocks .abonement-block.green-abonement-block {
    background: #b2cf65; }
    .abonement-blocks .abonement-block.green-abonement-block .abonement-btn:hover, .abonement-blocks .abonement-block.green-abonement-block .abonement-btn:focus {
      color: #b2cf65; }

.advices-block .advices-title {
  text-align: center;
  text-transform: uppercase;
  color: #f0a5b7;
  font-size: 18px;
  display: block;
  width: 100%;
  margin: 50px 0; }

.advices-block .advices-info {
  font-size: 12px;
  color: #5c5c5c; }

.advices-block .advices-img {
  height: 300px;
  background-image: url("/app/img/app/rosi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.advices-block .advice {
  font-size: 12px;
  color: #5c5c5c;
  margin-bottom: 50px; }
  .advices-block .advice .advice-img {
    height: 115px;
    width: 115px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 60px; }
  .advices-block .advice .advice-img.advice-img-1 {
    background-image: url("/app/img/app/advice_1.jpg"); }
  .advices-block .advice .advice-img.advice-img-2 {
    background-image: url("/app/img/app/advice_2.jpg"); }
  .advices-block .advice .advise-text ul {
    padding: 0px; }
    .advices-block .advice .advise-text ul li {
      list-style-type: none; }
    .advices-block .advice .advise-text ul li:before {
      content: "- "; }

.comments .comment {
  border: 1px solid #dedede;
  border-left: 5px solid #c9325b;
  border-right: 5px solid #c9325b;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 15px 0px 30px 0px; }

.comments .comment-author {
  position: relative;
  height: 150px;
  width: 100%;
  color: #5e5e5e;
  text-align: center; }
  .comments .comment-author .author-info {
    position: absolute;
    right: 0;
    top: 90px; }
    .comments .comment-author .author-info .comment-author-name {
      font-size: 18px;
      text-transform: uppercase; }
    .comments .comment-author .author-info .comment-author-age {
      font-size: 10px;
      text-transform: lowercase; }
  .comments .comment-author .comment-img {
    position: absolute;
    right: 10px;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    border-radius: 40px; }
  .comments .comment-author .comment-img.comment-girl-1 {
    background-image: url("/app/img/app/girl_1.jpg"); }
  .comments .comment-author .comment-img.comment-girl-2 {
    background-image: url("/app/img/app/girl_2.jpg"); }
  .comments .comment-author .comment-img.comment-girl-3 {
    background-image: url("/app/img/app/girl_3.jpg"); }

.comments .comment-quotes {
  color: #f09db3;
  display: inline-block;
  font-size: 100px;
  width: 40px;
  height: 20px;
  margin-top: -20px; }

.comments .comment-text {
  display: inline-block;
  width: 90%; }

.pink-hr {
  color: #f0a5b7; }

.recording-title {
  text-align: center;
  text-transform: uppercase;
  color: #f0a5b7;
  font-size: 25px;
  display: block;
  width: 100%;
  margin: 0px 0 50px 0; }

.recording-input {
  width: 100%;
  border-radius: 0px;
  margin-bottom: 10px;
  border: 1px solid #cfcfcf;
  height: 35px; }

.recording-btn {
  margin-bottom: 10px;
  width: 100%;
  background: #f0a5b7;
  border-color: #f0a5b7;
  color: #ffffff;
  font-size: 10px;
  height: 34px; }

.recording-btn:hover, .recording-btn:focus {
  background: #ffffff;
  color: #000000;
  border-color: #000000; }

.my-footer {
  background: #d8e8b3;
  margin-top: 30px;
  padding: 25px 0; }
  .my-footer .footer-logo {
    width: 100%; }
  .my-footer .foother-phone-number {
    font-size: 20px;
    margin-bottom: 25px;
    display: inline-block; }
  .my-footer .foother-adress {
    font-size: 11px; }
  .my-footer .foother-btn {
    background: #f2a74b;
    color: #ffffff;
    border-color: #f2a74b; }
  .my-footer .socials .social {
    display: inline-block;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 30px; }

.my-modal .modal-content {
  border-radius: 0px;
  border-color: #f2a74b;
  margin: auto; }
  .my-modal .modal-content .modal-header {
    color: #f2a74b;
    border: 0px; }
    .my-modal .modal-content .modal-header .abonement-modal-title {
      text-transform: uppercase;
      margin: 0 30px;
      border-bottom: 1px solid;
      font-size: 25px; }
    .my-modal .modal-content .modal-header button {
      color: #f2a74b;
      opacity: 1;
      font-size: 30px; }
  .my-modal .modal-content .modal-body .abonement-modal-small-text {
    font-size: 12px; }
  .my-modal .modal-content .modal-body .about-procedure-text {
    color: #818181;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0px 30px; }
    .my-modal .modal-content .modal-body .about-procedure-text span {
      display: inline-block;
      margin-bottom: 25px; }
  .my-modal .modal-content .modal-body .about-procedure-price {
    margin: 0px 30px;
    margin-top: 20px; }
    .my-modal .modal-content .modal-body .about-procedure-price span {
      color: #f5aa4d;
      font-size: 24px;
      line-height: 24px; }
      .my-modal .modal-content .modal-body .about-procedure-price span .abonement-price {
        font-size: 24px; }
  .my-modal .modal-content .modal-body .procedure-small-select {
    width: 30%;
    float: right;
    margin: 0px 0 0 10px;
    display: inline-block; }
  .my-modal .modal-content .modal-body .abonement-modal-gray-text {
    color: #a1a1a1; }
  .my-modal .modal-content .modal-body .my-modal-form {
    margin: 0 80px; }
  .my-modal .modal-content .modal-body .my-modal-input {
    border-radius: 0;
    border-color: #a1a1a1; }
  .my-modal .modal-content .modal-body .my-modal-input.gray-input {
    background: #e8e8e8; }
  .my-modal .modal-content .modal-body .my-modal-label {
    color: #a1a1a1; }
  .my-modal .modal-content .modal-footer {
    border: 0px;
    height: 70px; }
    .my-modal .modal-content .modal-footer .modal-btn {
      text-transform: uppercase;
      position: absolute;
      color: #ffffff;
      border-color: #f2a74b;
      background: #f2a74b;
      margin: auto;
      width: 150px;
      height: 40px;
      left: 0;
      right: 0; }
