<div class="my-modal modal fade bs-example-modal-sm" id="abonement_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abonement-modal-title">
                    <span>Покупка абонемента</span>
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal my-modal-form">
                    <div class="form-group">
                        <label class="abonement-modal-small-text abonement-modal-gray-text">Введитье свои данные</label>
                    </div>
                    <div class="form-group">
                        <select class="form-control my-modal-input" ng-model="vm.type">
                            <option>Выберите тип абонемента</option>
                            <option value="1">Уход за лицом</option>
                            <option value="2">Уход за телом</option>
                            <option value="3">Комплексный</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Цена:</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control my-modal-input gray-input" placeholder="Как к вам обращаться">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control my-modal-input gray-input" ng-model="vm.phone" placeholder="+7 (__)-___-__-__" mask="+7 (999)-999-99-99">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control my-modal-input gray-input" placeholder="mail@mail.ru">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="my-btn modal-btn" data-dismiss="modal" ng-click="">Продолжить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{ vm.test() }}