<div class="my-modal modal fade bs-example-modal-sm" id="about_procedure_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abonement-modal-title">
                    <span>Массаж</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="about-procedure-text">
                    <span>
                        Массаж в Тольятти – востребованная услуга среди посетителей нашего салона красоты «МАРИНА». Являясь наиболее эффективным методом воздействия на самые важные точки человеческого организма, он позволяет расслабить напряженные мышцы за счет использования различных техник. Поэтому, записываясь к нам на общий массаж, Вы сможете уже после первого сеанса снять мышечное напряжение, сделав свои движения более раскованными, а также избавиться от боли в разных участках тела.
                    </span>
                    <span>
                        Общий массаж  поможет избавиться от стресса и напряжения. Он улучшит циркуляцию крови и поможет расслабиться. Именно по этой причине общий массаж в салоне «МАРИНА» пользуется популярностью. Уже после первого сеанса Вы сможете заметить положительное воздействие, которое оказывает массаж на работу сердечно-сосудистой и мышечной системы, лимфообразование и обмен веществ.
                    </span>
                </div>
                <div class="about-procedure-price">
                    <span>
                        Стоимость процедуры: 1 200 <span class="abonement-price">&#8381;</span>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="my-btn modal-btn" data-dismiss="modal" ng-click="">Продолжить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->