<div class="my-modal modal fade bs-example-modal-sm" id="callback_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Заказ обратного звонка</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label my-modal-label">Имя</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control my-modal-input" id="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label my-modal-label">Телефон</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control my-modal-input" id="phone" ng-model="vm.phone" placeholder="+7 (__)-___-__-__" mask="+7 (999)-999-99-99">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="my-btn modal-btn" data-dismiss="modal" ng-click="vm.openModal('success_modal')">Отправить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<success-modal></success-modal>