<div class="my-modal modal fade bs-example-modal-sm" id="procedure_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title abonement-modal-title">
                    <span>Запсиь на прием</span>
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal my-modal-form">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="procedure" class="col-sm-3 control-label abonement-modal-small-text abonement-modal-gray-text">На процедуру</label>
                            <div class="col-sm-9">
                                <select id="procedure" ng-model="vm.type" class="form-control my-modal-input">
                                    <option value="">Выберите процедуру</option>
                                    <option value="1">Массаж</option>
                                    <option value="2">Косметология</option>
                                    <option value="3">Маникюр и педикюр</option>
                                    <option value="4">Парикмахерская</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select class="form-control procedure-small-select my-modal-input">
                                    <option value="">26.06.15</option>
                                </select>
                                <select class="form-control procedure-small-select my-modal-input">
                                    <option value="">c 9:00</option>
                                </select>
                                <select class="form-control procedure-small-select my-modal-input">
                                    <option value="">c 21:00</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="procedure" class="col-sm-3 control-label abonement-modal-small-text abonement-modal-gray-text">Контакты</label>
                            <div class="col-sm-9">
                                <input class="form-control my-modal-input" placeholder="Как к Вам обращаться">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <input class="form-control my-modal-input" ng-model="vm.phone" placeholder="+7 (__)-___-__-__" mask="+7 (999)-999-99-99">
                            </div>
                        </div>
                    </form>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="my-btn modal-btn" data-dismiss="modal" ng-click="">Продолжить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{ vm.test() }}