<div class="my-modal modal fade bs-example-modal-sm" id="success_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ваш заказ принят.</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <span>Мы свяжемся с Вами в ближайшее время</span>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->